body {
  padding-top: 0rem;
  padding-left: 10rem;
  font-family: 'futura';

  /*background:linear-gradient(90deg,rgba(255,255,255,.1) 0,rgba(255,255,255,.1) 100%),url(images/wallpaper1.jpg);*/
  background-image: url(images/wallpaper3.jpg);
  background:linear-gradient(90deg,rgba(255,255,255,.1) 0,rgba(255,255,255,.1) 100%),url(images/wallpaper5.jpg)
  
  /*center and scale image nicely*/
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: 100% auto;


}


h1, h2, h3, h4, h5, h6 {
  color: #FFF0F5;
  font-weight: 700;
  text-transform: uppercase;
}

h1 {

  font-size: 4rem;
  line-height: 4rem;
}

h2 {
  color: black;
  font-size: 2.5rem;
}

.subheading {
  color: #FFF0F5;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.0rem;
}

#directory .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

#directory .navbar-toggler:focus {
  outline-color: #d48a6e;

}

#directory {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 10rem;
  height: 100vh;
  padding-top: 16rem;
}


#directory .navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto auto 0;
  padding: 0.5rem;
}

#directory .navbar-brand {
  max-width: 10rem;
  max-height: 10rem;
  border: 0.5rem solid rgba(255, 255, 255, 0.2);
}


section.content {
  min-height: 100vh;
}

section.home {
  padding-top: 3rem !important;
  padding-bottom: 5rem !important;
  max-width: 75rem;
  min-height: 100vh;
}

@media (min-width: 768px) {
  body {
    padding-left: 20rem;

  }

  #directory {
    width: 15rem;
    padding-top: 17rem;
  }

  h1 {
    
    font-size: 5rem;
    line-height: 5rem;
  }

  h2 {

    font-size: 3rem;
  }

}

@media (min-width: 992px) {
  #directory {
    text-align: center;
    width: 15rem;
    padding-top: 13rem;
  }

  body {
    padding-top: 0;
    padding-left: 13rem;

  }

  h1 {
    font-size: 6rem;
    line-height: 5.5rem;
  }

  h2 {
    font-size: 3.5rem;
  }
}

.bg-primary {
  /*background-color: #313e54 !important;*/
  /*make navbar translucent*/
  background-color: rgba(150,150,150,0.75) !important;
}

a:hover, a:focus, a:active {
  color: #824027;
}